{% extends 'base.html.twig' %}

{% block title %}An email has just been sent to you{% endblock %}

{% block content %}
    <p>
        If an account corresponding to your username exists, an email will be sent to you with the rest of the reset procedure.
    </p>
    <p>
        If you do not receive an email, please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.
    </p>
{% endblock %}
