{
	{$CADDY_GLOBAL_OPTIONS}
	order coraza_waf first
	frankenphp {
		{$FRANKENPHP_CONFIG}
	}
}

{$CADDY_EXTRA_CONFIG}

{$SERVER_NAME:localhost} {
#	tls /etc/caddy/certs/tls.pem /etc/caddy/certs/tls.key {
#		client_auth {
#			mode verify_if_given
#			trust_pool file {
#				pem_file /etc/caddy/certs/ca.pem
#			}
#		}
#		#protocols tls1.3
#		#ca_root /etc/caddy/certs/ca.pem
#		#key_type rsa4096
#	}
	log {
		# Redact the authorization query parameter that can be set by Mercure
		format filter {
			request>uri query {
				replace authcorization REDACTED
			}
		}
	}

	root * /app/public
	encode zstd br gzip

	mercure {
		# Transport to use (default to Bolt)
		transport_url {$MERCURE_TRANSPORT_URL:bolt:///data/mercure.db}
		# Publisher JWT key
		publisher_jwt {env.MERCURE_PUBLISHER_JWT_KEY} {env.MERCURE_PUBLISHER_JWT_ALG}
		# Subscriber JWT key
		subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY} {env.MERCURE_SUBSCRIBER_JWT_ALG}
		# Allow anonymous subscribers (double-check that it's what you want)
		anonymous
		# Enable the subscription API (double-check that it's what you want)
		subscriptions
		# Extra directives
		{$MERCURE_EXTRA_DIRECTIVES}
	}

	vulcain

	{$CADDY_SERVER_EXTRA_DIRECTIVES}

	# Disable Topics tracking if not enabled explicitly: https://github.com/jkarlin/topics
	header ?Permissions-Policy "browsing-topics=()"

	coraza_waf {
		load_owasp_crs
		directives `
			Include @coraza.conf-recommended
			Include @crs-setup.conf.example
			Include @owasp_crs/*.conf
			SecRuleEngine On
		`
	}

	handle_errors 403 {
		header X-Blocked "true"
		root * /etc/caddy/custom-pages
		rewrite * /{err.status_code}.html
		file_server
		templates
	}
	php_server
	#php_server {
	#	env SSL_CLIENT_S_FINGERPRINT {http.request.tls.client.fingerprint}
	#	env SSL_CLIENT_S_CERTIFICATE {http.request.tls.client.certificate_der_base64}
	#	env SSL_CLIENT_S_ISSUER {http.request.tls.client.issuer}
	#	env SSL_CLIENT_S_SERIAL {http.request.tls.client.serial}
	#	env SSL_CLIENT_S_DN {http.request.tls.client.subject}
	#}
}
