{% extends 'base.html.twig' %}

{% block title %}Terms of use{% endblock %}

{% block content %}
            <section class="bg-white border-b py-8">
                <div class="container mx-auto flex flex-wrap pt-4 pb-12">
                    <h2 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">
                        Terms of use
                    </h2>
                    <div class="w-full mb-4">
                        <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
                    </div>
                    <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
                        <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
                            <p class="text-gray-800 text-base px-6 mb-5">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet nisi ut velit malesuada porta eget et mauris. Praesent justo dolor, faucibus a tempor in, hendrerit ultricies justo. Donec sit amet mi justo. Nunc non enim metus. Ut ac commodo sapien, vel interdum augue. Integer sed dictum elit. Mauris lobortis sit amet massa et aliquam. Nunc varius aliquet purus non vehicula. Proin eget orci pellentesque, hendrerit purus rhoncus, congue lectus. Aenean venenatis imperdiet purus eu dignissim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris aliquam dolor vel orci egestas tincidunt.
                            </p>
                            <p class="text-gray-800 text-base px-6 mb-5">
                                Proin nec ultricies sapien. Nulla ut aliquam mi. Nullam eget congue lorem, vitae semper elit. Proin sed dolor ac est pellentesque molestie. Vestibulum pharetra eget odio at porttitor. Morbi quis quam luctus, finibus ipsum ac, placerat risus. Integer id dignissim velit, at mattis massa. Vivamus blandit laoreet diam ac tempor. Integer ac sapien nec est condimentum posuere eu at nulla.
                            </p>
                            <p class="text-gray-800 text-base px-6 mb-5">
                                Pellentesque tempus tortor ante, et scelerisque nunc vestibulum ut. Fusce in erat a nulla mattis laoreet vitae ut odio. Nam efficitur felis vitae tortor tristique, quis varius eros rutrum. Donec scelerisque dui tortor, ac venenatis dolor suscipit tincidunt. Praesent viverra eleifend felis quis ornare. Quisque tincidunt neque quam, tincidunt aliquet ipsum pretium a. Quisque accumsan risus sed est varius, non laoreet justo consequat. Maecenas ut mollis eros, sodales pretium justo. Maecenas eu est quis eros ultricies pharetra. Vivamus erat libero, tempor quis lacus vitae, tristique laoreet dui. Vivamus iaculis et erat a congue. Nullam metus erat, sodales nec nulla vulputate, ornare consectetur sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc hendrerit odio eu sodales aliquam. Aliquam dignissim metus a aliquam finibus.
                            </p>
                            <p class="text-gray-800 text-base px-6 mb-5">
                                Duis sit amet urna ex. Vestibulum quis metus ut tellus posuere posuere. Ut lorem mauris, iaculis at augue sed, gravida viverra urna. Nunc sollicitudin quis orci in convallis. Sed auctor lorem sit amet magna semper, in molestie magna ullamcorper. Vestibulum sollicitudin iaculis lacus. Nam sit amet luctus nulla. Suspendisse sed vestibulum libero.
                            </p>
                            <p class="text-gray-800 text-base px-6 mb-5">
                                Aliquam mollis ante non volutpat sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus commodo erat quis tortor venenatis, sed facilisis ex mattis. Nam bibendum ipsum non nunc blandit, sed convallis odio vulputate. Nulla auctor rhoncus elementum. Integer sed lacus est. Nam posuere, nulla nec faucibus pellentesque, mauris libero congue urna, eget ullamcorper ligula tortor eget est. Nullam placerat neque non enim condimentum, nec finibus ipsum mollis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque hendrerit augue mollis, ornare elit quis, laoreet lectus. Sed pulvinar ex vel nisl accumsan, id finibus lectus faucibus. Nulla ut pharetra elit. Cras tempor dui ac dui iaculis suscipit.
                            </p>
                            <p class="text-gray-800 text-base px-6 mb-5">
                                Phasellus et pellentesque urna. Aliquam ultrices imperdiet sem sed sodales. Praesent vestibulum posuere tempor. Aliquam sagittis, erat vel tempus egestas, felis lorem mollis odio, eget tincidunt lorem lacus sed ex. Nam fringilla dui lectus, sit amet porta leo cursus sed. Donec laoreet blandit metus pulvinar gravida. Sed iaculis sapien purus, nec lobortis magna cursus a. Sed leo ipsum, mollis vitae faucibus nec, posuere volutpat nibh. Nam ut velit blandit, facilisis lectus et, lobortis ante. Ut eros arcu, varius vitae rutrum eu, fermentum convallis lorem. Sed quis lectus et metus ultricies bibendum. Donec sit amet blandit risus. Mauris imperdiet quis nunc id tristique.
                            </p>
                            <p class="text-gray-800 text-base px-6 mb-5">
                                Nullam congue eros tristique arcu dictum, non vehicula ipsum ultrices. Suspendisse potenti. Etiam aliquet dolor nisl, nec iaculis orci commodo vel. Curabitur tellus mi, pulvinar quis lorem non, elementum venenatis neque. Maecenas varius neque lorem, et condimentum elit rutrum sed. Nullam sed malesuada risus. Nulla sagittis, quam suscipit posuere cursus, sapien magna sodales turpis, a feugiat dolor urna vel ligula. Donec sodales sem et orci rhoncus tincidunt. Morbi maximus posuere nulla, sed dapibus orci tristique vel.
                            </p>
                            <p class="text-gray-800 text-base px-6 mb-5">
                                Morbi nunc sem, fermentum quis mauris in, gravida elementum velit. Fusce posuere hendrerit rhoncus. Quisque in elit nisi. Ut faucibus finibus purus, et sollicitudin ligula ultricies sit amet. Aenean porttitor odio nec mollis tincidunt. Integer facilisis nec est at tristique. Nulla facilisi. Praesent eleifend tristique ligula, non vulputate lectus bibendum at. In scelerisque maximus purus, eget ultrices justo iaculis ac. Curabitur imperdiet nulla hendrerit ex venenatis elementum. Aliquam sit amet nunc eu massa tempus porttitor. Pellentesque nulla nunc, porttitor sit amet justo vitae, elementum rutrum erat. Donec ut orci ligula. Curabitur quam ipsum, ornare at urna at, condimentum maximus tortor. Mauris convallis consectetur sem sed vestibulum.
                            </p>
                            <p class="text-gray-800 text-base px-6 mb-5">
                                Pellentesque sapien quam, euismod a luctus ac, ornare eget ipsum. Donec at hendrerit erat, eu viverra felis. Aliquam hendrerit felis cursus nunc scelerisque interdum. Mauris lacinia dui in nulla sodales, a iaculis nisl malesuada. Etiam porttitor euismod dolor vel vestibulum. Nulla efficitur, sem at dapibus fringilla, ipsum eros lobortis turpis, lobortis mattis ipsum ex vel lacus. Phasellus nisi neque, hendrerit nec feugiat a, pulvinar vitae est. Mauris scelerisque risus nec nibh iaculis, non auctor magna commodo. Sed non dui nec enim efficitur porta. Sed suscipit risus a nisi facilisis maximus.
                            </p>
                            <p class="text-gray-800 text-base px-6 mb-5">
                                Donec ut urna condimentum, tincidunt massa et, accumsan nisi. Sed gravida in mauris ut malesuada. Aliquam dictum rhoncus pretium. Ut mattis tempor tempor. Sed turpis neque, gravida non felis rutrum, accumsan tincidunt nulla. Pellentesque justo dolor, ultrices aliquam nisi vitae, ullamcorper dapibus nisi. Fusce a lectus pretium, ornare massa quis, euismod eros. Sed a faucibus metus. Aliquam sodales lectus enim. Vestibulum vitae euismod ipsum.
                            </p>
                            <p class="text-gray-800 text-base px-6 mb-5">
                                Ut dapibus interdum dolor ac viverra. Quisque maximus tortor non turpis euismod, sed varius nisi condimentum. Morbi euismod a sapien at tincidunt. Mauris suscipit consectetur augue sit amet cursus. Maecenas lacinia sed orci ultrices condimentum. Cras vestibulum metus sit amet neque varius fringilla. Duis lacus sem, pellentesque sit amet nisi quis, faucibus pharetra nibh. Ut tincidunt, est a dapibus blandit, dolor metus faucibus risus, tincidunt gravida mauris sapien lacinia ante. Nunc rhoncus euismod faucibus.
                            </p>
                            <p class="text-gray-800 text-base px-6 mb-5">
                                Duis molestie sapien sed sagittis rutrum. Vestibulum a enim pellentesque, varius orci in, auctor metus. Aenean varius mollis sapien, sit amet viverra enim hendrerit suscipit. Vestibulum blandit ante ut vulputate feugiat. Vestibulum faucibus interdum lacus, in vulputate dui elementum vel. Proin eleifend, arcu vel accumsan porta, augue massa tincidunt magna, eu laoreet ante nunc ac tellus. Integer nec risus sed magna finibus ultrices. Aliquam ut augue eget tortor bibendum rutrum a sit amet risus. Quisque tempor blandit cursus. Etiam et feugiat erat. In velit leo, commodo eu urna sed, pulvinar tristique justo. In augue magna, pharetra id porta at, lobortis eget nunc. Etiam fringilla ligula id metus molestie lobortis. Nulla at dictum massa, at gravida ex. Aenean quis ante sed augue pulvinar varius. In sed rutrum massa, a consectetur mauris.
                            </p>
                            <p class="text-gray-800 text-base px-6 mb-5">
                                Etiam accumsan odio at arcu maximus tincidunt. Integer dolor velit, pharetra ac finibus sed, venenatis eget mauris. Morbi lacinia a tellus eget suscipit. Integer consequat lorem quam, ac lobortis eros aliquam at. Integer non tellus turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean lorem mauris, porttitor eget placerat non, bibendum in arcu.
                            </p>
                            <p class="text-gray-800 text-base px-6 mb-5">
                                Vivamus eget est quam. Fusce pharetra tristique elit, in interdum justo ullamcorper at. Phasellus efficitur libero in urna efficitur dictum. Nulla quis mollis nibh, id consectetur neque. Aenean nec justo diam. Quisque ut interdum turpis. Aenean nisi est, dignissim at cursus sodales, aliquam at tortor. Quisque condimentum ante vel turpis rutrum placerat. Nulla facilisi. Fusce nulla sem, posuere sed quam auctor, faucibus aliquet nunc. Donec ullamcorper ipsum ac risus lacinia, quis rutrum sem semper. Sed sapien turpis, auctor in consequat et, gravida a magna. Phasellus maximus lacus sed sapien cursus scelerisque. Suspendisse pharetra, neque id accumsan lacinia, ipsum ligula convallis leo, a pulvinar turpis felis scelerisque magna. Donec ex nibh, sollicitudin convallis ante non, fringilla porta augue.
                            </p>
                            <p class="text-gray-800 text-base px-6 mb-5">
                                In blandit quis lorem nec molestie. Mauris sodales accumsan lacus vel tristique. Suspendisse suscipit semper lectus in congue. Curabitur volutpat lacinia erat, eget sodales enim tempor luctus. Praesent lacinia, justo in luctus rhoncus, arcu nisi pellentesque dolor, a fermentum libero ante non leo. Maecenas a varius massa. Donec rhoncus tempor massa, eget vehicula dolor gravida sit amet.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}
