parameters:
	ignoreErrors:
		-
			rawMessage: Class App\ApiResource\Measure is neither abstract nor final.
			identifier: ergebnis.final
			count: 1
			path: ../src/ApiResource/Measure.php

		-
			rawMessage: 'Method App\ApiResource\User::createFrom() has no return type specified.'
			identifier: missingType.return
			count: 1
			path: ../src/ApiResource/User.php

		-
			rawMessage: 'Parameter #1 $username of class App\ApiResource\User constructor expects string, string|null given.'
			identifier: argument.type
			count: 1
			path: ../src/ApiResource/User.php

		-
			rawMessage: Access to undefined constant App\Command\AccessToken\CreateAccessTokenCommand::FAILURE.
			identifier: classConstant.notFound
			count: 1
			path: ../src/Command/AccessToken/CreateAccessTokenCommand.php

		-
			rawMessage: Access to undefined constant App\Command\AccessToken\CreateAccessTokenCommand::SUCCESS.
			identifier: classConstant.notFound
			count: 1
			path: ../src/Command/AccessToken/CreateAccessTokenCommand.php

		-
			rawMessage: 'Method App\Command\AccessToken\CreateAccessTokenCommand::__invoke() should return int but returns mixed.'
			identifier: return.type
			count: 2
			path: ../src/Command/AccessToken/CreateAccessTokenCommand.php

		-
			rawMessage: Access to undefined constant App\Command\User\CreateUserCommand::FAILURE.
			identifier: classConstant.notFound
			count: 1
			path: ../src/Command/User/CreateUserCommand.php

		-
			rawMessage: Access to undefined constant App\Command\User\CreateUserCommand::SUCCESS.
			identifier: classConstant.notFound
			count: 1
			path: ../src/Command/User/CreateUserCommand.php

		-
			rawMessage: Cannot cast mixed to string.
			identifier: cast.string
			count: 2
			path: ../src/Command/User/CreateUserCommand.php

		-
			rawMessage: 'Method App\Command\User\CreateUserCommand::__invoke() should return int but returns mixed.'
			identifier: return.type
			count: 2
			path: ../src/Command/User/CreateUserCommand.php

		-
			rawMessage: Access to undefined constant App\Command\User\DemoteUserCommand::FAILURE.
			identifier: classConstant.notFound
			count: 2
			path: ../src/Command/User/DemoteUserCommand.php

		-
			rawMessage: Access to undefined constant App\Command\User\DemoteUserCommand::SUCCESS.
			identifier: classConstant.notFound
			count: 1
			path: ../src/Command/User/DemoteUserCommand.php

		-
			rawMessage: 'Call to function is_array() with array will always evaluate to true.'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../src/Command/User/DemoteUserCommand.php

		-
			rawMessage: 'Method App\Command\User\DemoteUserCommand::__invoke() has parameter $roles with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Command/User/DemoteUserCommand.php

		-
			rawMessage: 'Method App\Command\User\DemoteUserCommand::__invoke() should return int but returns mixed.'
			identifier: return.type
			count: 3
			path: ../src/Command/User/DemoteUserCommand.php

		-
			rawMessage: 'Parameter #1 $callback of function array_map expects (callable(mixed): mixed)|null, Closure(string): non-falsy-string given.'
			identifier: argument.type
			count: 1
			path: ../src/Command/User/DemoteUserCommand.php

		-
			rawMessage: Access to undefined constant App\Command\User\PromoteUserCommand::FAILURE.
			identifier: classConstant.notFound
			count: 2
			path: ../src/Command/User/PromoteUserCommand.php

		-
			rawMessage: Access to undefined constant App\Command\User\PromoteUserCommand::SUCCESS.
			identifier: classConstant.notFound
			count: 1
			path: ../src/Command/User/PromoteUserCommand.php

		-
			rawMessage: 'Call to function is_array() with array will always evaluate to true.'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../src/Command/User/PromoteUserCommand.php

		-
			rawMessage: 'Method App\Command\User\PromoteUserCommand::__invoke() has parameter $roles with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Command/User/PromoteUserCommand.php

		-
			rawMessage: 'Method App\Command\User\PromoteUserCommand::__invoke() should return int but returns mixed.'
			identifier: return.type
			count: 3
			path: ../src/Command/User/PromoteUserCommand.php

		-
			rawMessage: 'Parameter #1 $callback of function array_map expects (callable(mixed): mixed)|null, Closure(string): non-falsy-string given.'
			identifier: argument.type
			count: 1
			path: ../src/Command/User/PromoteUserCommand.php

		-
			rawMessage: Anonymous function should return int but returns mixed.
			identifier: return.type
			count: 2
			path: ../src/Controller/ApiController.php

		-
			rawMessage: 'Call to an undefined method App\Entity\City::getGpsLat().'
			identifier: method.notFound
			count: 1
			path: ../src/Controller/ApiController.php

		-
			rawMessage: 'Call to an undefined method App\Entity\City::getGpsLng().'
			identifier: method.notFound
			count: 1
			path: ../src/Controller/ApiController.php

		-
			rawMessage: 'Call to an undefined method App\Entity\City::getId().'
			identifier: method.notFound
			count: 2
			path: ../src/Controller/ApiController.php

		-
			rawMessage: 'Call to an undefined method App\Entity\City::getInseeCode().'
			identifier: method.notFound
			count: 2
			path: ../src/Controller/ApiController.php

		-
			rawMessage: 'Call to an undefined method App\Entity\City::getName().'
			identifier: method.notFound
			count: 2
			path: ../src/Controller/ApiController.php

		-
			rawMessage: 'Call to an undefined method App\Entity\City::getSlug().'
			identifier: method.notFound
			count: 1
			path: ../src/Controller/ApiController.php

		-
			rawMessage: 'Call to an undefined method App\Entity\City::getZipCode().'
			identifier: method.notFound
			count: 2
			path: ../src/Controller/ApiController.php

		-
			rawMessage: 'Call to an undefined method App\Entity\Department::getCities().'
			identifier: method.notFound
			count: 1
			path: ../src/Controller/ApiController.php

		-
			rawMessage: 'Call to an undefined method App\Entity\Department::getCode().'
			identifier: method.notFound
			count: 1
			path: ../src/Controller/ApiController.php

		-
			rawMessage: 'Call to an undefined method App\Entity\Department::getId().'
			identifier: method.notFound
			count: 3
			path: ../src/Controller/ApiController.php

		-
			rawMessage: 'Call to an undefined method App\Entity\Department::getName().'
			identifier: method.notFound
			count: 1
			path: ../src/Controller/ApiController.php

		-
			rawMessage: 'Call to an undefined method App\Entity\Department::getSlug().'
			identifier: method.notFound
			count: 1
			path: ../src/Controller/ApiController.php

		-
			rawMessage: 'Call to an undefined method App\Entity\Region::getCode().'
			identifier: method.notFound
			count: 2
			path: ../src/Controller/ApiController.php

		-
			rawMessage: 'Call to an undefined method App\Entity\Region::getDepartments().'
			identifier: method.notFound
			count: 2
			path: ../src/Controller/ApiController.php

		-
			rawMessage: 'Call to an undefined method App\Entity\Region::getId().'
			identifier: method.notFound
			count: 2
			path: ../src/Controller/ApiController.php

		-
			rawMessage: 'Call to an undefined method App\Entity\Region::getName().'
			identifier: method.notFound
			count: 2
			path: ../src/Controller/ApiController.php

		-
			rawMessage: 'Call to an undefined method App\Entity\Region::getSlug().'
			identifier: method.notFound
			count: 2
			path: ../src/Controller/ApiController.php

		-
			rawMessage: 'Cannot call method toArray() on mixed.'
			identifier: method.nonObject
			count: 3
			path: ../src/Controller/ApiController.php

		-
			rawMessage: 'Parameter #1 $callback of function array_map expects (callable(mixed): mixed)|null, Closure(App\Entity\City): array{id: mixed, insee: mixed, zip: mixed, name: mixed} given.'
			identifier: argument.type
			count: 1
			path: ../src/Controller/ApiController.php

		-
			rawMessage: 'Parameter #1 $callback of function array_map expects (callable(mixed): mixed)|null, Closure(App\Entity\Department): int given.'
			identifier: argument.type
			count: 2
			path: ../src/Controller/ApiController.php

		-
			rawMessage: 'Parameter #2 $array of function array_map expects array, mixed given.'
			identifier: argument.type
			count: 3
			path: ../src/Controller/ApiController.php

		-
			rawMessage: 'Call to an undefined method object::setPassword().'
			identifier: method.notFound
			count: 1
			path: ../src/Controller/ResetPasswordController.php

		-
			rawMessage: 'Only booleans are allowed in a negated boolean, App\Entity\User|null given.'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: ../src/Controller/ResetPasswordController.php

		-
			rawMessage: 'Only booleans are allowed in an if condition, string|null given.'
			identifier: if.condNotBoolean
			count: 1
			path: ../src/Controller/ResetPasswordController.php

		-
			rawMessage: 'Parameter #1 $emailFormData of method App\Controller\ResetPasswordController::processSendingPasswordResetEmail() expects string, mixed given.'
			identifier: argument.type
			count: 1
			path: ../src/Controller/ResetPasswordController.php

		-
			rawMessage: 'Parameter #1 $user of method Symfony\Component\PasswordHasher\Hasher\UserPasswordHasherInterface::hashPassword() expects Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface, object given.'
			identifier: argument.type
			count: 1
			path: ../src/Controller/ResetPasswordController.php

		-
			rawMessage: 'Parameter #2 $plainPassword of method Symfony\Component\PasswordHasher\Hasher\UserPasswordHasherInterface::hashPassword() expects string, mixed given.'
			identifier: argument.type
			count: 1
			path: ../src/Controller/ResetPasswordController.php

		-
			rawMessage: 'Method App\Entity\Admin::getUserIdentifier() should return non-empty-string but returns string.'
			identifier: return.type
			count: 1
			path: ../src/Entity/Admin.php

		-
			rawMessage: 'Method App\Entity\ResetPasswordRequest::getUser() should return object but returns App\Entity\User|null.'
			identifier: return.type
			count: 1
			path: ../src/Entity/ResetPasswordRequest.php

		-
			rawMessage: 'Method App\Entity\User::getUserIdentifier() should return non-empty-string but returns string.'
			identifier: return.type
			count: 1
			path: ../src/Entity/User.php

		-
			rawMessage: 'Parameter $repositoryClass of attribute class Doctrine\ORM\Mapping\Entity constructor expects class-string<Doctrine\ORM\EntityRepository<T of object>>|null, ''App\\Repository\\WebauthnCredentialRepository'' given.'
			identifier: argument.type
			count: 1
			path: ../src/Entity/WebauthnCredential.php

		-
			rawMessage: 'Class App\Form\ChangePasswordFormType extends generic class Symfony\Component\Form\AbstractType but does not specify its types: TData'
			identifier: missingType.generics
			count: 1
			path: ../src/Form/ChangePasswordFormType.php

		-
			rawMessage: 'Class App\Form\ResetPasswordRequestFormType extends generic class Symfony\Component\Form\AbstractType but does not specify its types: TData'
			identifier: missingType.generics
			count: 1
			path: ../src/Form/ResetPasswordRequestFormType.php

		-
			rawMessage: Class App\Kernel is neither abstract nor final.
			identifier: ergebnis.final
			count: 1
			path: ../src/Kernel.php

		-
			rawMessage: 'Class App\Repository\AccessTokenRepository has PHPDoc tag @method for method findBy() parameter #1 $criteria with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/AccessTokenRepository.php

		-
			rawMessage: 'Class App\Repository\AccessTokenRepository has PHPDoc tag @method for method findBy() parameter #2 $orderBy with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/AccessTokenRepository.php

		-
			rawMessage: 'Class App\Repository\AccessTokenRepository has PHPDoc tag @method for method findOneBy() parameter #1 $criteria with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/AccessTokenRepository.php

		-
			rawMessage: 'Class App\Repository\AccessTokenRepository has PHPDoc tag @method for method findOneBy() parameter #2 $orderBy with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/AccessTokenRepository.php

		-
			rawMessage: Class App\Repository\AccessTokenRepository is neither abstract nor final.
			identifier: ergebnis.final
			count: 1
			path: ../src/Repository/AccessTokenRepository.php

		-
			rawMessage: 'Class App\Repository\CityRepository has PHPDoc tag @method for method findBy() parameter #1 $criteria with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/CityRepository.php

		-
			rawMessage: 'Class App\Repository\CityRepository has PHPDoc tag @method for method findBy() parameter #2 $orderBy with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/CityRepository.php

		-
			rawMessage: 'Class App\Repository\CityRepository has PHPDoc tag @method for method findOneBy() parameter #1 $criteria with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/CityRepository.php

		-
			rawMessage: 'Class App\Repository\CityRepository has PHPDoc tag @method for method findOneBy() parameter #2 $orderBy with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/CityRepository.php

		-
			rawMessage: 'Method App\Repository\CityRepository::findByNameLike() should return array<App\Entity\City> but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/Repository/CityRepository.php

		-
			rawMessage: 'Class App\Repository\DepartmentRepository has PHPDoc tag @method for method findBy() parameter #1 $criteria with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/DepartmentRepository.php

		-
			rawMessage: 'Class App\Repository\DepartmentRepository has PHPDoc tag @method for method findBy() parameter #2 $orderBy with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/DepartmentRepository.php

		-
			rawMessage: 'Class App\Repository\DepartmentRepository has PHPDoc tag @method for method findOneBy() parameter #1 $criteria with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/DepartmentRepository.php

		-
			rawMessage: 'Class App\Repository\DepartmentRepository has PHPDoc tag @method for method findOneBy() parameter #2 $orderBy with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/DepartmentRepository.php

		-
			rawMessage: 'Class App\Repository\MeasureRepository has PHPDoc tag @method for method findBy() parameter #1 $criteria with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/MeasureRepository.php

		-
			rawMessage: 'Class App\Repository\MeasureRepository has PHPDoc tag @method for method findBy() parameter #2 $orderBy with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/MeasureRepository.php

		-
			rawMessage: 'Class App\Repository\MeasureRepository has PHPDoc tag @method for method findOneBy() parameter #1 $criteria with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/MeasureRepository.php

		-
			rawMessage: 'Class App\Repository\MeasureRepository has PHPDoc tag @method for method findOneBy() parameter #2 $orderBy with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/MeasureRepository.php

		-
			rawMessage: 'Class App\Repository\RegionRepository has PHPDoc tag @method for method findBy() parameter #1 $criteria with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/RegionRepository.php

		-
			rawMessage: 'Class App\Repository\RegionRepository has PHPDoc tag @method for method findBy() parameter #2 $orderBy with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/RegionRepository.php

		-
			rawMessage: 'Class App\Repository\RegionRepository has PHPDoc tag @method for method findOneBy() parameter #1 $criteria with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/RegionRepository.php

		-
			rawMessage: 'Class App\Repository\RegionRepository has PHPDoc tag @method for method findOneBy() parameter #2 $orderBy with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/RegionRepository.php

		-
			rawMessage: 'Class App\Repository\ResetPasswordRequestRepository has PHPDoc tag @method for method findBy() parameter #1 $criteria with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/ResetPasswordRequestRepository.php

		-
			rawMessage: 'Class App\Repository\ResetPasswordRequestRepository has PHPDoc tag @method for method findBy() parameter #2 $orderBy with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/ResetPasswordRequestRepository.php

		-
			rawMessage: 'Class App\Repository\ResetPasswordRequestRepository has PHPDoc tag @method for method findOneBy() parameter #1 $criteria with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/ResetPasswordRequestRepository.php

		-
			rawMessage: 'Class App\Repository\ResetPasswordRequestRepository has PHPDoc tag @method for method findOneBy() parameter #2 $orderBy with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/ResetPasswordRequestRepository.php

		-
			rawMessage: 'Parameter #2 $user of class App\Entity\ResetPasswordRequest constructor expects App\Entity\User|null, object given.'
			identifier: argument.type
			count: 1
			path: ../src/Repository/ResetPasswordRequestRepository.php

		-
			rawMessage: 'Class App\Repository\UserRepository has PHPDoc tag @method for method findBy() parameter #1 $criteria with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/UserRepository.php

		-
			rawMessage: 'Class App\Repository\UserRepository has PHPDoc tag @method for method findBy() parameter #2 $orderBy with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/UserRepository.php

		-
			rawMessage: 'Class App\Repository\UserRepository has PHPDoc tag @method for method findOneBy() parameter #1 $criteria with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/UserRepository.php

		-
			rawMessage: 'Class App\Repository\UserRepository has PHPDoc tag @method for method findOneBy() parameter #2 $orderBy with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/UserRepository.php

		-
			rawMessage: 'Method App\Repository\UserRepository::findOneByUsername() should return App\Entity\User|null but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/Repository/UserRepository.php

		-
			rawMessage: 'Call to an undefined method App\Repository\WebauthnCredentialRepository::findBy().'
			identifier: method.notFound
			count: 1
			path: ../src/Repository/WebauthnCredentialRepository.php

		-
			rawMessage: 'Method App\Repository\WebauthnCredentialRepository::findAllForUserHandle() return type has no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Repository/WebauthnCredentialRepository.php

		-
			rawMessage: 'Method App\Repository\WebauthnCredentialRepository::findAllForUserHandle() should return array but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/Repository/WebauthnCredentialRepository.php

		-
			rawMessage: Instantiated class Webauthn\PublicKeyCredentialUserEntity not found.
			identifier: class.notFound
			count: 2
			path: ../src/Repository/WebauthnUserRepository.php

		-
			rawMessage: 'Method App\Repository\WebauthnUserRepository::findOneByUserHandle() has invalid return type Webauthn\PublicKeyCredentialUserEntity.'
			identifier: class.notFound
			count: 1
			path: ../src/Repository/WebauthnUserRepository.php

		-
			rawMessage: 'Method App\Repository\WebauthnUserRepository::findOneByUsername() has invalid return type Webauthn\PublicKeyCredentialUserEntity.'
			identifier: class.notFound
			count: 1
			path: ../src/Repository/WebauthnUserRepository.php

		-
			rawMessage: 'Class App\Security\AdminProvider has @implements tag, but does not implement any interface.'
			identifier: generics.noParent
			count: 1
			path: ../src/Security/AdminProvider.php

		-
			rawMessage: 'Parameter #1 $password of class Symfony\Component\Security\Http\Authenticator\Passport\Credentials\PasswordCredentials constructor expects string, bool|float|int|string given.'
			identifier: argument.type
			count: 1
			path: ../src/Security/UsernamePasswordAuthenticator.php

		-
			rawMessage: 'Parameter #1 $userIdentifier of class Symfony\Component\Security\Http\Authenticator\Passport\Badge\UserBadge constructor expects string, bool|float|int|string given.'
			identifier: argument.type
			count: 1
			path: ../src/Security/UsernamePasswordAuthenticator.php

		-
			rawMessage: 'Parameter #2 $csrfToken of class Symfony\Component\Security\Http\Authenticator\Passport\Badge\CsrfTokenBadge constructor expects string|null, bool|float|int|string|null given.'
			identifier: argument.type
			count: 1
			path: ../src/Security/UsernamePasswordAuthenticator.php

		-
			rawMessage: 'Class App\State\MeasureStateProvider implements generic interface ApiPlatform\State\ProviderInterface but does not specify its types: T'
			identifier: missingType.generics
			count: 1
			path: ../src/State/MeasureStateProvider.php

		-
			rawMessage: Class App\State\MeasureStateProvider is neither abstract nor final.
			identifier: ergebnis.final
			count: 1
			path: ../src/State/MeasureStateProvider.php

		-
			rawMessage: 'Class App\State\UserDtoProvider implements generic interface ApiPlatform\State\ProviderInterface but does not specify its types: T'
			identifier: missingType.generics
			count: 1
			path: ../src/State/UserDtoProvider.php

		-
			rawMessage: 'Method App\State\UserDtoProvider::provide() should return iterable<object>|object|null but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/State/UserDtoProvider.php

		-
			rawMessage: Class App\Twig\SearchCityComponent is neither abstract nor final.
			identifier: ergebnis.final
			count: 1
			path: ../src/Twig/SearchCityComponent.php
