/* Root Styling */
@import "./typography.css";
@import "./tailwind.css";
@import "./daisyui.css";

/* Custom Styling */
@import "./custom/components.css";

/* Symfony Debug Toolbar */
.sf-toolbar-clearer {
    visibility: hidden;
}
