@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #30b2af;
}

.gradient {
    background: linear-gradient(90deg, #30b2af 0%, #79f8e0 100%);
}

nav {
    z-index: 10;
}

#map {
    z-index: 1;
    display: block;
    height: 75vh;
    width: 100vw;
}
