<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded mt-8">
    <nav class="grid grid-flow-col gap-4">
        <a href="{{ path('app_privacy_policy') }}" class="link link-hover">Privacy policy</a>
        <a href="{{ path('app_terms_of_use') }}" class="link link-hover">Terms of use</a>
    </nav>
    <nav>
        <div class="grid grid-flow-col gap-4">
            <a href="{{ path('app_homepage') }}" class="flex items-center gap-2">
                <i class="fa-solid fa-cloud-sun text-2xl text-primary"></i>
                <span class="text-2xl font-bold text-primary">Météofony</span>
            </a>
        </div>
    </nav>
    <aside>
        <p class="flex flex-wrap items-center justify-center gap-2">
            Made with ❤️,
            <a href="https://symfony.com/" target="_blank" rel="noreferrer nofollow noopener" class="link link-primary inline-flex items-center gap-1">
                Symfony
                <img src="https://symfony.com/logos/symfony_black_03.svg" alt="Symfony logo" width="24" height="24" class="inline-block">
            </a>
            and
            <a href="https://frankenphp.dev/" target="_blank" rel="noreferrer nofollow noopener" class="link link-primary inline-flex items-center gap-1">
                FrankenPHP
                <img src="https://frankenphp.dev/img/elephant_cover.svg" alt="FrankenPHP logo" width="24" height="24" class="inline-block">
            </a>
        </p>
    </aside>
</footer>
