{% extends 'base.html.twig' %}

{% block title %}Surveys of the city of {{ city.name }}{% endblock %}

{% block body %}
    <div>
        <div id="map" {{ stimulus_controller('map', {latitude: city.gpsLat, longitude: city.gpsLng}) }}></div>
    </div>
{% endblock %}
